accelerate
codetiming
datasets
dill
hydra-core==1.4.0.dev1
omegaconf==2.4.0.dev3
numpy
pybind11
ray[default]==2.10.0
tensordict
transformers<4.48
vllm<=0.6.3
peft
liger-kernel
word2number
math-verify[antlr4_11_0]==0.6.0